<label>Server name</label>
<input type="text" class="form-control"  (input)="onUpdateServerName($event)"/>
<input type="text" class="form-control" [(ngModel)]="serverName" (input)="onUpdateServerName($event)" />

<button class="btn btn-primary" [disabled]="!allowAddServer" (click)="onCreateServer()">Add Server</button>
<p [innerText]="allowAddServer"></p>
<p *ngIf="serverCreated; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
  <p>there is no server created ?!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
<div *ngFor="let server of servers; let i=index">[{{server}} {{i}}]</div>
