<div>
<table class="table">
    <tr>
        <th>title</th>
        <th>length</th>
        <th>rating</th>
        <th></th>
    </tr>
    <tr ng-repeat="movie in model.movieList">
        <td>{{movie.title}}</td>
        <td>{{movie.length}}</td>
        @*<td>{{movie.rating}}</td>*@
        <td>
            <movie-rating value="movie.rating">
                <span class="glyphicon glyphicon-star"></span>
            </movie-rating>
        </td>

        <td>
            <div class="btn-group">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" ng-click="model.upRating(movie)"></span>
                </button>
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-minus" ng-click="model.downRating(movie)"></span>
                </button>
                <a ui-sref="movieDetailsState({id:movie.id})" class="btn btn-default">
                    <span class="glyphicon glyphicon-zoom-in" ng-click=""></span>
                </a>
            </div>
        </td>
    </tr>
</table>
</div>
