<p>
  *app-course component*
</p>
<hr/>
<form [formGroup]="courseForm" (ngSubmit)="onAddCourse()">
    <input type="hidden" formControlName="id"  name="id" >
  <div>
    <input type="text" formControlName="name" name="name"   placeholder="Name">
  </div>
  <div>
    <input type="text" formControlName="topic" name=topic   placeholder="Topic">
  </div>
  <div>
    <button class="btn btn-primary" type="submit" [disabled]="!courseForm.valid">Add Course</button>
  </div>
  <div style="background-color: red" *ngIf="!courseForm.valid && courseForm.touched">
    there is some thing wrong
  </div>
</form>
<hr/>
<p>Courses List :</p>
<app-course-list></app-course-list>