header {
  font-family: arial;
  background-color: #d3d3d3;
  border: 1px solid #3a3a3a;
  color: #535353;
}
h1,
h2 {
  color: blue;
}
#mypara {
  border: 1px solid blue;
  font-weight: bold;
  color: orange;
}
#mypara:after {
  content: 'with mahmoud ahmed addition text';
}
#mypara2 {
  font-weight: bold;
  color: orange;
}
.orangeBold {
  font-weight: bold;
  color: orange;
}
.nestedcontent {
  font-family: Arial, Helvetica, sans-serif;
}
.nestedcontent p {
  font-family: Times;
}
.nestedcontent p#mypara3 {
  font-family: 'Courier New';
}
#mypara3 {
  color: #404040;
  border: 1px solid #404040;
  padding: 10px;
}
#mypara3:hover {
  color: yellowgreen;
}
#mypara4 {
  color: #f00;
  border: 6px solid #ff00ff;
  padding: 10px 60px;
}
#mypara5 {
  -moz-border-raduis: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 10px gray;
  -ms-box-shadow: 10px 10px 10px gray;
  -mox-box-shadow: 10px 10px 10px gray;
  box-shadow: 10px 10px 10px gray;
  padding: 10px;
}
#mypara6 {
  color: #aed75b;
  border-color: #5c7b1e;
  display: block;
  border-width: 2px;
  border-style: solid;
  padding: 10px;
}
#mypara7 {
  color: #658;
  border: 2px solid gray;
  font-weight: bolder;
  font-size: 32pt;
  padding: 5pt;
}
#mypara8 {
  border: 5px dashed green;
  padding: 16px;
}
